:root {
  --main-bg-color: #f8f9fb;
  --main-para-color: #585a63;
  --main-headline-color: #1a1819;
  --accent-color: #228b22;
}

body,
nav,
.card {
  background: var(--main-bg-color);
}

p {
  color: var(--main-para-color);
}

.subheading {
  color: var(--main-headline-color);
  position: relative;
  top: -10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-headline-color);
}

/* h1 {
  letter-spacing: 7px;
} */

.color-accent {
  color: var(--accent-color);
}

.bg-accent {
  background: var(--accent-color);
}

.jumbotron {
  position: relative;
  background-color: transparent !important;
  background-color: gray;
}

.title-headline {
  font-size: 3rem;
}

#overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  min-height: 450px;
  width: 100%;
  opacity: 0.2;
  background-image: url("/src/img/jumbotron-ventilation_2.jpg");
  z-index: -1;
  /*  height: 100%; */
}

#jumbo-inner-wrapper {
  margin-top: 55px;
  margin-bottom: 200px;
  background-color: transparent;
  height: 18vh;
}

.form-inline {
  display: flex;
  justify-content: center;
}

.page-footer {
  /* background: lightgrey; */
  background: #a6b0bc;
  height: 20rem;
}

.rotating-fan {
  /* position: absolute;
    top: 50%;
    left: 50%;
    
    margin: -60px 0 0 -60px; */
  width: 30px;
  height: 30px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.card {
  min-width: 330px;
}

.slogan {
  font-family: "Arizonia", cursive, sans-serif;
  font-size: 230%;
}

.icon-container {
  width: 40px;
}

.icon {
  display: block;
  width: 100%;
  height: auto;
}

.call__phone {
  /* border: 2px solid var(--accent-color); */
  /* width: 133px; */
  /* max-width: 133px; */
}
/* 


.call__phone {
  border: 2px solid var(--accent-color);
  }

 
 */

.title-wrapper {
  /* border: 1px solid red; */
}

.call-to-action {
  width: 150px;
  border-left: 3px solid var(--accent-color);
}

html {
  font-size: 0.9rem;
}

@media (min-width: 576px) {
  html {
    font-size: 1rem;
  }
  .display-4 {
    /* color: blue; */
  }

  #jumbo-inner-wrapper {
    margin-top: 15px;
    /*margin-bottom: 200px;
     background-color: transparent;
    height: 18vh; */
  }

  #overlay {
    min-height: 470px;
  }

  .subheading {
    font-size: 220%;
    top: -20px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 1.2rem;
  }
  .display-4 {
    /* color: orange; */
  }
  .call-to-action {
    width: 150px;
    border-left: 0;
  }

  #jumbo-inner-wrapper {
    margin-top: 40px;
    /*margin-bottom: 200px;
     background-color: transparent;
    height: 18vh; */
  }

  .title-wrapper {
    line-height: 200%;
  }

  h1 {
    font-size: 290%;
  }

  .subheading {
    font-size: 230%;
  }

  .rotating-fan {
    width: 35px;
    height: 35px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 1.3rem;
  }
  .display-4 {
    color: black;
  }

  .rotating-fan {
    width: 40px;
    height: 40px;
  }

  .card-title {
    font-size: 170%;
  }
}
@media (min-width: 1200px) {
  /*   html {
    font-size: 2rem;
  } */
}
