.jumbotron {
  background: url("/src/img/jumbotron-ventilation.jpg") center center no-repeat;
  background-color: #cccccc;

  background-size: cover;
  position: relative;
}

.form-inline {
  display: flex;
  justify-content: center;
}

.page-footer {
  background: lightgrey;
  height: 20rem;
}
