.jumbotron {
  background: url("/src/img/jumbotron-ventilation.jpg") center center no-repeat;
  background-color: #cccccc;

  background-size: cover;
  position: relative;
}

.form-inline {
  display: flex;
  justify-content: center;
}

.page-footer {
  background: lightgrey;
  height: 20rem;
}

.rotating {
  /* position: absolute;
  top: 50%;
  left: 50%;
  
  margin: -60px 0 0 -60px; */
  width: 30px;
  height: 30px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
