/* Colors */
:root {
  --faded-grey: #afc1cd;
  --pastel-white: #f8f9fb;
  --moonstone-grey: #585a63;

  --lavender: #ca7ae2;
  --smoky-black: #160c0c;
  --accent-blue: #2f5887;
  --hover-blue: #1a304a;
}

body,
nav {
  background: var(--pastel-white);
}

.jumbotron {
  background-color: transparent !important;
  background-color: var(--moonstone-grey);
}

p {
  color: var(--moonstone-grey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--smoky-black);
}

.slogan {
  color: var(--faded-grey);
}

.company-name {
  color: var(--accent-blue);
}

.cto-button {
  color: #fff;
  background: var(--accent-blue);
}

.btn:hover {
  color: #fff;
  background: var(--hover-blue);
  padding: 4%;
}

.right-bottom-border {
  border-right: 1px solid var(--accent-blue);
  /* border-bottom: 1px solid var(--accent-blue); */
}

.left-bottom-border {
  border-left: 1px solid var(--accent-blue);
  /* border-bottom: 1px solid var(--accent-blue); */
}

/* Typography */

body {
  font-family: "Roboto", sans-serif;
}
.slogan {
  font-family: "Arizonia", cursive, sans-serif;
}

.main-heading,
.sub-heading {
  /* @import url('https://fonts.googleapis.com/css?family=Russo+One&subset=latin-ext'); */
  font-family: "Russo One", sans-serif;
}

/* Rotating fan */
.rotating {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ----- windy company name --------- */

#svg-wrapper {
  margin: 0 auto;
  padding-left: 10%;
  display: none;
}

/* ---- overlay --------------------------------------------------------------- */

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("/src/img/jumbotron-xs.jpg");
  background-size: cover;
  z-index: -1;
  opacity: 0.2;
  width: 100%;
  /*  height: 100%; */
  min-height: 430px;
  /* same as jumbotron-height below */
}

.jumbotron {
  position: relative;
  min-height: 430px;
}

html {
  font-size: 0.7rem;
}

.display-4 {
  font-size: 290%;
}

@media (min-width: 500px) {
  html {
    font-size: 0.9rem;
  }

  .display-4 {
    font-size: 280%;
  }

  .jumbotron {
    margin-bottom: 1.6rem;
    padding-bottom: 0;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }

  .display-4 {
    font-size: 230%;
  }

  p,
  .lead {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 1.3rem;
  }

  .overlay {
    background-image: url("/src/img/jumbotron-lg.jpg");
  }

  .slogan.display-4 {
    font-size: 300%;
  }

  #svg-wrapper {
    display: block;
    /* IE & Edge dont render SVG animation */
    min-height: 240px;
  }

  footer {
    position: relative;
    top: -245px;
  }
}
@media (min-width: 1200px) {
  .main-heading,
  .sub-heading {
    letter-spacing: 0.5rem;
  }
}
/* test */
/* 
.slogan-outer-wrapper,
.cto-wrapper,
.title-wrapper {
  border: 1px solid red;
}

.slogan-wrapper,
.summary-content {
  border: 1px solid blue;
}

.slogan {
  background: yellow;
} */
/* ---------------------------------------------------------------------------- */
/* 
.cto-button {
  animation-duration: 1s;
  animation-iteration-count: 3;
  animation-name: xyz;
}

@keyframes xyz {
  0% {
    padding: 1%;
  }

  25% {
    padding: 1%;
  }

  50% {
    padding: 2%;
  }

  75% {
    padding: 3%;
  }

  100% {
    padding: 4%;
  }
}
 */
.cto-button {
  animation: shadow-pulse 4s 1;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    padding: 4%;
    color: var(--lavender);
  }
}
